
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.logo {
    height: 50px; /* aanpassen aan de gewenste hoogte */
}
.header-img {
    width: 100%;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #71cbf4; /* blauwe achtergrondkleur */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.resultaten {
    text-align: center;
}

.resultaten img {
    max-width: 100%;
    margin-top: 20px;
}

@media screen and (max-width: 414px) {
    .navbar {
        padding: 10px 6px; /* Aangepaste padding voor kleinere schermen */
    }

    .nav-links li a {
        font-size: 9px;
    }

    .logo {
        height: 20px; /* Aangepaste hoogte voor kleinere schermen */
    }
}