/* Basisstijlen blijven hetzelfde */

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white; /* Witte achtergrondkleur */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container img {
    max-width: 100%; /* Afbeeldingen schalen naar de breedte van de container */
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #005898; /* TUI-blauw */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center; /* Centreren van de tekst in de footer */
    padding: 10px 20px;
    background-color: #71cbf4; /* TUI-blauw */
}

.footer-logo {
    height: 30px; /* Pas dit aan aan de gewenste hoogte */
    margin-right: 20px;
}

.footer p {
    margin: 0; /* Verwijder standaardmarges van de alinea */
    color: white; /* Witte tekstkleur */
}

@media screen and (max-width: 414px) {
    .container {
        padding: 10px; /* Verminder de padding voor kleinere schermen */
    }

    .container img {
        max-width: 90%; /* Afbeeldingen iets kleiner maken op kleinere schermen */
    }

    .footer p {
        font-size: 12px; /* Kleinere lettergrootte voor kleinere schermen */
    }
}
