/*
Auteur: Danijel Jovanovic en Arvind Manodat
Datum: 9-4-2024.
*/

/* Algemene opmaak voor de body van de website */
body
{
    font-family: 'Themundayfreeversion-Regular', Arial, sans-serif; /* Gebruik het nieuwe lettertype, met back-ups van generieke lettertypes */
}

/* Definieer aangepaste lettertype met bron en gewicht */
@font-face
{
    font-family: 'Themundayfreeversion-Regular'; /* Geef een naam aan het lettertype */
    src: url('../fonts/Raleway-Medium.ttf') format('truetype'); /* Geef het pad naar het font-bestand en het formaat op */
    font-weight: normal; /* Specificeer dat het lettertype normaal gewicht heeft */
}

/* Stijl voor de navigatiebalk */
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #71cbf4; /* Achtergrondkleur van de navigatiebalk */
}

/* Stijl voor de lijst met navigatielinks */
.nav-links
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Stijl voor elk navigatielinkitem */
.nav-links li
{
    display: inline;
    margin-right: 20px;
}

/* Stijl voor het laatste navigatielinkitem */
.nav-links li:last-child
{
    margin-right: 0;
}

/* Stijl voor de navigatielinks */
.nav-links li a
{
    text-decoration: none;
    color: white;
}

/* Stijl voor het logo */
.logo
{
    height: 50px; /* Hoogte van het logo */
}

/* Stijl voor de afbeelding in de header */
.header-img
{
    width: 100%;
}

/* Stijl voor de algemene container */
.container
{
    max-width: 800px;
    margin: 50px auto; /* Boven- en ondermarge */
    padding: 20px;
    background-color: #71cbf4; /* Blauwe achtergrondkleur */
    border-radius: 8px; /* Afgeronde hoeken */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Lichtgrijze schaduw */
}

/* Stijl voor koppen */
h2
{
    text-align: center;
    color: #333; /* Donkergrijze tekstkleur */
}

/* Stijl voor de resultaten */
.resultaten
{
    text-align: center;
}

/* Stijl voor afbeeldingen binnen resultaten */
.resultaten img
{
    max-width: 100%;
    margin-top: 20px;
}

/* Media query voor schermen met een maximale breedte van 414px */
@media screen and (max-width: 414px)
{
    /* Aangepaste stijlen voor kleinere schermen */
    .navbar
    {
        padding: 10px 6px; /* Aangepaste padding voor kleinere schermen */
    }

    .nav-links li a
    {
        font-size: 9px; /* Aangepaste lettergrootte voor navigatielinks */
    }

    .logo
    {
        height: 20px; /* Aangepaste hoogte voor kleinere schermen */
    }
}
