.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.logo {
    height: 50px; /* aanpassen aan de gewenste hoogte */
}

.header-img {
    width: 100%;
}

.container {
    text-align: center;
    padding: 20px;
}

.square-images {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 5px; /* Je kunt deze waarde aanpassen om de ruimte tussen de plaatjes te verkleinen */
}



.square-images img {
    width: 100%;
    max-width: 200px; /* aanpassen aan de gewenste breedte */
}


.description {
    margin-top: 20px;
}

.blue-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.blue-box {
    background-color: #71cbf4;
    color: white;
    padding: 20px;
}

.image-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    flex: 1;
    margin-right: 20px;
}

.column:last-child {
    margin-right: 0;
}

.image-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative; /* Hiermee kunnen we de absolute positie van de lijn instellen */
}

.image-wrapper p {
    margin-left: 20px;
}

.image-wrapper:after {
    content: ''; /* Dit creëert een pseudo-element */
    position: absolute; /* Absoluut positioneren ten opzichte van de parent */
    bottom: 0; /* Plaats het onderaan het ouder-element */
    left: 0; /* Beginnend vanaf de linkerzijde van het ouder-element */
    width: 100%; /* Neem de volledige breedte in */
    height: 1px; /* Hoogte van de lijn */
    background-color: #ccc; /* Kleur van de lijn */
}


hr {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 20px;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}

.image-wrapper p {
    margin-left: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
}

.footer-logo {
    height: 30px; /* Pas dit aan aan de gewenste hoogte */
    margin-right: 20px;
}



