.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #71cbf4;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.logo {
    height: 50px; /* aanpassen aan de gewenste hoogte */
}

.header-img {
    width: 100%;
}

.small-boxes {
    float: right; /* Plaats de small-boxes rechts */
    margin-top: 20px; /* Pas deze marge aan zoals gewenst */
    text-align: right; /* Uitlijnen van de tekst rechts */
}

.small-box {
    width: calc(10% - 10px); /* Bereken de breedte van elk vak */
    height: 50px; /* Pas de hoogte aan zoals gewenst */
    background-color: aliceblue;
    border: 1px solid #ccc;
    padding-left: 400px;
    padding-right: 400px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Voeg ondermarge toe tussen de vakken */
}


.small-box p {
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

.square-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; /* Laat de rijhoogte automatisch aanpassen aan de inhoud */
    grid-gap: 10px; /* Je kunt deze waarde aanpassen om de ruimte tussen de afbeeldingen te verkleinen */
    width: 100px;
}

.description {
    margin-top: 20px;
}

.blue-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.blue-box {
    background-color: #71cbf4;
    color: white;
    padding: 20px;
}

.image-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    flex: 1;
    margin-right: 20px;
}

.column:last-child {
    margin-right: 0;
}

.image-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative; /* Hiermee kunnen we de absolute positie van de lijn instellen */
}

.image-wrapper p {
    margin-left: 20px;
}

.image-wrapper:after {
    content: ''; /* Dit creëert een pseudo-element */
    position: absolute; /* Absoluut positioneren ten opzichte van de parent */
    bottom: 0; /* Plaats het onderaan het ouder-element */
    left: 0; /* Beginnend vanaf de linkerzijde van het ouder-element */
    width: 100%; /* Neem de volledige breedte in */
    height: 1px; /* Hoogte van de lijn */
    background-color: #ccc; /* Kleur van de lijn */
}

hr {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 20px;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
}

.image-wrapper p {
    margin-left: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
}

.footer-logo {
    height: 30px; /* Pas dit aan aan de gewenste hoogte */
    margin-right: 20px;
}

@media screen and (max-width: 414px) {
    .navbar {
        padding: 10px 6px; /* Aangepaste padding voor kleinere schermen */
    }

    .nav-links li a {
        font-size: 9px;
    }

    .logo {
        height: 20px; /* Aangepaste hoogte voor kleinere schermen */
    }

    .header-img {
        display: none; /* Verberg de header afbeelding op kleinere schermen */
    }

    .container {
        padding: 10px; /* Verklein de padding van de container op kleinere schermen */
    }


    .square-images img {
        height: 115px;
    }

    .image-wrapper img {
        width: 50%;
        height: auto;
        max-width: 100%; /* Maximale breedte van de afbeelding */
        aspect-ratio: 1; /* Behoudt de aspect ratio van de afbeelding (vierkant) */
    }

    .small-boxes {
        float: right; /* Plaats de small-boxes rechts */
        margin-top: 20px; /* Pas deze marge aan zoals gewenst */
        text-align: right; /* Uitlijnen van de tekst rechts */
    }

    .small-boxes {
        float: right; /* Plaats de small-boxes rechts */
        margin-top: 20px; /* Pas deze marge aan zoals gewenst */
        text-align: right; /* Uitlijnen van de tekst rechts */
        display: none;
    }

    .small-box {
        width: calc(10% - 10px); /* Bereken de breedte van elk vak */
        height: 50px; /* Pas de hoogte aan zoals gewenst */
        background-color: aliceblue;
        border: 1px solid #ccc;
        padding-left: 400px;
        padding-right: 400px;
        box-sizing: border-box;
        margin-bottom: 10px; /* Voeg ondermarge toe tussen de vakken */
        display: none;
    }


    .small-box p {
        margin: 0;
        display: none;
    }

    .blue-boxes {
        grid-template-columns: repeat(1, 1fr); /* Verander het aantal kolommen naar 1 voor kleinere schermen */
    }

    .image-columns {
        flex-direction: column; /* Verander de richting van de flexbox naar kolommen voor kleinere schermen */
    }

    .column {
        margin-right: 0; /* Verwijder de rechtermarge van de kolommen voor kleinere schermen */
        margin-bottom: 20px; /* Voeg een bodemmarge toe aan de kolommen voor kleinere schermen */
    }

    .image-wrapper {
        flex-direction: column; /* Verander de richting van de flexbox naar kolommen voor kleinere schermen */
    }

    .image-wrapper p {
        margin-left: 0; /* Verwijder de linker marge van de tekst naast de afbeeldingen voor kleinere schermen */
        margin-top: 10px; /* Voeg een bovenmarge toe aan de tekst naast de afbeeldingen voor kleinere schermen */
    }
}
