/* Verbeterde achtergrond */
body {
    background-color: #f0f0f0; /* Lichtgrijs */
}

/* TUI-stijl voor de navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.logo {
    height: 50px; /* Hoogte van het logo */
}

.header-img {
    width: 100%;
}

/* Stijl voor de vragenlijst */
h2 {
    color: #005898; /* TUI blauw */
    font-size: 24px;
    margin-top: 20px;
    font-weight: normal; /* Verwijder letterdikte */
}

form {
    max-width: 600px; /* Maximale breedte van het formulier */
    margin: 0 auto;
    background-color: white; /* Witte achtergrond voor het formulier */
    padding: 20px; /* Ruimte binnenin het formulier */
    border-radius: 10px; /* Afgeronde hoeken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Voeg een subtiele schaduw toe */
}

form p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333; /* Donkergrijs */
}

select,
input[type="number"] {
    width: calc(100% - 16px); /* Breedte van 100% minus de padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Lichtgrijze rand */
    border-radius: 5px;
    box-sizing: border-box; /* Voeg padding en randen toe aan de breedte */
}

/* Placeholder-stijl voor invoervelden */
input[type="number"]::placeholder {
    color: #aaa; /* Lichtgrijs */
}

input[type="submit"] {
    background-color: #008CBA; /* Donkerder blauw */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005073; /* Donkerder blauw bij hover */
}

.menu-toggle{
    display: none;
}

@media screen and (max-width: 414px) {
    .navbar {
        padding: 10px 6px; /* Aangepaste padding voor kleinere schermen */
    }

    .nav-links li a {
        font-size: 9px;
    }

    .logo {
        height: 20px; /* Aangepaste hoogte voor kleinere schermen */
    }

    .nav-links {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        background-color: #71cbf4;
        position: absolute;
        top: 60px;
        right: 8px;
        transition: transform 0.3s ease-in-out; /* Voeg een overgang toe aan de transform-eigenschap */
    }

    .nav-links
    {
        display: none;
        transform: translateX(100%); /* Startpositie buiten het scherm aan de rechterkant */
    }

    .nav-links li {
        display: block;
        margin-bottom: 10px;
    }

    .menu-open .nav-links {
        transform: translateX(0); /* Schuif het menu van rechts naar links wanneer het menu wordt geopend */
    }

    .menu-toggle {
        display: block; /* Toon de hamburgerknop bij kleinere schermen */
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .menu-open .nav-links {
        display: flex; /* Toon het menu wanneer de hamburgerknop wordt geactiveerd */
    }
}


