/*
Auteur: Danijel Jovanovic
Datum: 9-4-2024.
*/

body
{
    font-family: 'Themundayfreeversion-Regular', Arial, sans-serif; /* Gebruik het nieuwe lettertype, met back-ups van generieke lettertypes */
    background-color: #f0f0f0;
}

/* Definieer aangepaste lettertype met bron en gewicht */
@font-face
{
    font-family: 'Themundayfreeversion-Regular'; /* Geef een naam aan het lettertype */
    src: url('../fonts/Raleway-Medium.ttf') format('truetype'); /* Geef het pad naar het font-bestand en het formaat op */
    font-weight: normal; /* Specificeer dat het lettertype normaal gewicht heeft */
}


/* TUI-stijl voor de navbar */
.navbar
{
    display: flex;
    justify-content: space-between; /* Verdeel de items gelijkmatig over de breedte van de container */
    align-items: center; /* Centreer verticaal */
    padding: 10px 20px; /* Binnenste opvulling boven en onder 10px, links en rechts 20px */
}

.nav-links li
{
    display: inline; /* Toon de lijstitems naast elkaar */
    margin-right: 20px; /* Voeg rechtermarge toe aan elk item */
}

.nav-links li:last-child
{
    margin-right: 0; /* Verwijder de rechtermarge van het laatste item */
}

.nav-links li a
{
    text-decoration: none; /* Verwijder onderstreping van linktekst */
    color: white; /* Witte tekstkleur */
}

.logo
{
    height: 50px; /* Hoogte van het logo */
}

.header-img
{
    width: 100%; /* Breedte van de afbeelding binnen de container */
}

/* Stijl voor de vragenlijst */
h2
{
    color: #005898; /* TUI blauw */
    font-size: 24px; /* Tekengrootte */
    margin-top: 20px; /* Bovenmarge van 20px */
    font-weight: normal; /* Verwijder letterdikte */
}

form
{
    max-width: 600px; /* Maximale breedte van het formulier */
    margin: 0 auto; /* Automatische marge aan de boven- en onderkant, linker- en rechtermarge worden automatisch berekend */
    background-color: white; /* Witte achtergrond voor het formulier */
    padding: 20px; /* Ruimte binnenin het formulier */
    border-radius: 10px; /* Afgeronde hoeken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Voeg een subtiele schaduw toe */
}

form p
{
    margin-bottom: 10px; /* Ondermarge van 10px */
    font-size: 16px; /* Tekengrootte */
    color: #333; /* Donkergrijze tekstkleur */
}

select,
input[type="number"]
{
    width: calc(100% - 16px); /* Breedte van 100% minus de padding */
    padding: 8px; /* Binnenste opvulling */
    margin-bottom: 10px; /* Ondermarge van 10px */
    border: 1px solid #ccc; /* Lichtgrijze rand */
    border-radius: 5px; /* Afgeronde hoeken */
    box-sizing: border-box; /* Voeg padding en randen toe aan de breedte */
}

/* Placeholder-stijl voor invoervelden */
input[type="number"]::placeholder
{
    color: #aaa; /* Lichtgrijze placeholder-tekstkleur */
}

input[type="submit"]
{
    background-color: #008CBA; /* Donkerblauwe achtergrondkleur */
    color: white; /* Witte tekstkleur */
    padding: 10px 20px; /* Binnenste opvulling boven en onder 10px, links en rechts 20px */
    border: none; /* Geen rand */
    border-radius: 5px; /* Afgeronde hoeken */
    cursor: pointer; /* Wijzig de muisaanwijzer naar een handje bij hover */
}

input[type="submit"]:hover
{
    background-color: #005073; /* Donkerder blauw bij hover */
}

.menu-toggle
{
    display: none; /* Verberg de hamburgerknop standaard */
}

@media screen and (max-width: 414px)
{
    /* Media query voor schermen met een maximale breedte van 414px, bijv. mobiele apparaten */
    .navbar
    {
        padding: 10px 6px; /* Aangepaste padding voor kleinere schermen */
    }

    .nav-links li a
    {
        font-size: 9px; /* Kleinere lettergrootte voor linktekst */
    }

    .logo
    {
        height: 20px; /* Aangepaste hoogte voor kleinere schermen */
    }

    .nav-links
    {
        list-style-type: none; /* Verwijder opsommingstekens */
        margin: 0; /* Verwijder de standaardmarge van de lijst */
        padding: 10px; /* Binnenste opvulling van 10px */
        background-color: #71cbf4; /* Achtergrondkleur van het menu */
        position: absolute; /* Absoluut gepositioneerd ten opzichte van de eerste niet-statische voorouder */
        top: 60px; /* Plaats het menu 60px onder de bovenkant van de pagina */
        right: 8px; /* Afstand vanaf de rechterrand van de pagina */
        transition: transform 0.3s ease-in-out; /* Voeg een soepele overgang toe aan de transform-eigenschap */
    }

    .nav-links
    {
        display: none; /* Verberg het menu standaard op kleinere schermen */
        transform: translateX(100%); /* Startpositie buiten het scherm aan de rechterkant */
    }

    .nav-links li
    {
        display: block; /* Toon de lijstitems onder elkaar */
        margin-bottom: 10px; /* Ondermarge van 10px */
    }

    .menu-open .nav-links
    {
        transform: translateX(0); /* Schuif het menu van rechts naar links wanneer het menu wordt geopend */
    }

    .menu-toggle
    {
        display: block; /* Toon de hamburgerknop bij kleinere schermen */
        position: absolute; /* Absoluut gepositioneerd */
        top: 10px; /* Afstand vanaf de bovenkant van de pagina */
        right: 10px; /* Afstand vanaf de rechterkant van de pagina */
        background: none; /* Geen achtergrondkleur */
        border: none; /* Geen rand */
        font-size: 24px; /* Grootte van het pictogram */
        cursor: pointer; /* Wijzig de muisaanwijzer naar een handje bij hover */
    }

    .menu-open .nav-links
    {
        display: flex; /* Toon het menu wanneer de hamburgerknop wordt geactiveerd */
    }
}


